<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script src="jquery-1.11.0.js">
</script>
<script>
$(document).ready(function () {
		$.get('Ajax',function (data, status) {
			console.log('data: '+data+';status: '+status);
			for (var i = 0; i < data.length; i++) {
				$('table').append('<tr><td>'+data[i].naziv+'</td><td>'+data[i].cena+'</td><td>'+data[i].marka+'</td><td>'+data[i].kategorija.naziv+'</td><td>'+data[i].tip+'</td><td>'+data[i].opis+'</td><td>');			
			};
			});
	});
</script>
<title>Insert title here</title>
</head>
<body>
<table border="1"><tr bgcolor="lightgrey"> <tr> 
				    <th>Naziv</th>
				  <th>Cena</th>
			  <th>Marka</th> 
			          <th>Kategorija</th>
				         <th>Tip</th>
				          <th>Opis</th><th>&nbsp;</th> 
				      </tr>
		
<!-- 		<% for (Artikal d : artikli) {%>for  -->
<!-- 			<tr> -->
<!-- 			<td><%= d.getNaziv()%>  </td> -->
<!-- 			<td><%=d.getCena() %>  </td> -->
<!-- 			<td><%= d.getMarka()%> </td> -->
<!-- 			<td><%= d.getKategorija().getNaziv() %> </td> -->
<!-- 			<td><%= d.getTip()%> </td> -->
<!-- 			<td><%= d.getOpis()%></td> -->
<!-- 			<td><a href="brisanje">brisanje</a></td> -->
<!-- 			</tr> -->
<!-- 		<% } %> -->
		</table>
</body>
</html>